@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 10px;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
  margin-left: 420px;
}

.row {
  display: flex;
  width: 100%;
}

button {
  display: flex;
  height: 2.3em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #def1e6;
  color: rgb(14, 13, 13);
  outline: 1.33px solid rgb(171, 169, 172);
  font-family: 'Areaman', cursive;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
}

.clear {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.5rem;
  outline: 0px solid #888;
  height: 1em;
  background-color: #fff;
  font-family: 'Amatic SC', cursive;
  margin-top: 42px;
}

.operator {
  background-color: #e2a0ff;
  color: rgb(195, 230, 203);
}

.result {
    display: flex;
    width: 366px;
    height: 1.8em;
    flex: 1;
    background-color: #6b816d;
    outline: 2px solid rgb(141, 117, 117);
    color: rgb(202, 170, 170);
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2em;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    margin-left: 420px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-left: 550px;
    margin-top: 5px;
    margin-bottom: 5px;
}
